USE [DbWebSite]
GO
/****** Object:  Table [dbo].[BLOGLAR]    Script Date: 25.09.2023 19:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOGLAR](
	[BLOGID] [int] IDENTITY(1,1) NOT NULL,
	[BLOGAD] [nvarchar](200) NULL,
	[BLOGIMG_1] [nvarchar](100) NULL,
	[BLOGIMG_2] [nvarchar](100) NULL,
	[BLOGIMG_3] [nvarchar](100) NULL,
	[BLOGLOGO] [nvarchar](100) NULL,
	[BLOGDATE] [date] NULL,
	[BLOGYAZI] [ntext] NULL,
	[BLOGKUCUKYAZI] [nvarchar](300) NULL,
	[UYEID] [int] NULL,
	[KATEID] [int] NULL,
 CONSTRAINT [PK_BLOGLAR] PRIMARY KEY CLUSTERED 
(
	[BLOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORILER]    Script Date: 25.09.2023 19:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORILER](
	[KATEID] [int] IDENTITY(1,1) NOT NULL,
	[KATEAD] [nvarchar](50) NULL,
 CONSTRAINT [PK_KATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESAJLAR]    Script Date: 25.09.2023 19:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAJLAR](
	[CONID] [int] IDENTITY(1,1) NOT NULL,
	[CONMAIL] [nvarchar](200) NULL,
	[CONADSOYAD] [nvarchar](200) NULL,
	[CONICERIK] [ntext] NULL,
 CONSTRAINT [PK_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[CONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UYELER]    Script Date: 25.09.2023 19:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UYELER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KADI] [nvarchar](50) NULL,
	[SIFRE] [nvarchar](50) NULL,
	[UYEAD] [nvarchar](50) NULL,
	[UYESOYAD] [nvarchar](50) NULL,
	[UYEYETKI] [int] NULL,
 CONSTRAINT [PK_UYELER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BLOGLAR]  WITH CHECK ADD  CONSTRAINT [FK_BLOGLAR_KATEGORILER] FOREIGN KEY([KATEID])
REFERENCES [dbo].[KATEGORILER] ([KATEID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BLOGLAR] CHECK CONSTRAINT [FK_BLOGLAR_KATEGORILER]
GO
ALTER TABLE [dbo].[BLOGLAR]  WITH CHECK ADD  CONSTRAINT [FK_BLOGLAR_UYELER] FOREIGN KEY([UYEID])
REFERENCES [dbo].[UYELER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BLOGLAR] CHECK CONSTRAINT [FK_BLOGLAR_UYELER]
GO
