@{
    ViewBag.Title = "Home Page";
}
<section class="site-section-hero bg-image mb-5" style="background-image: url('images/hero-min.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 text-center">
            <h1 class=" heading text-uppercase text-white" data-aos="fade-up">Snap</h1>
            <p class="lead text-white mb-4" data-aos="fade-up" data-aos-delay="100">A Free Onepage Bootstrap Template by <a href="https://untree.co/">Untree.co</a>. Under licensed <a href="https://untree.co/license/" taget="_blank">Creative Common Attribution 3.0</a></p>
            <p data-aos="fade-up" data-aos-delay="100"><a href="#section-contact" class="btn btn-primary btn-md smoothscroll">Available for hire</a></p>
        </div>
    </div>
</section>
